<li *ngIf="pokemon" class="mb-4 shadow-xl bg-white rounded-2xl relative">
    <app-favourite-button [pokemonUrl]="pokemon.url"></app-favourite-button>
    <section class="p-4">
        <img [src]="imageURL" [alt]="pokemon.name" class="block w-56"/>
    </section>
    <section class="p-4">
        <span class="text-2xl">
            {{pokemon.name}}
        </span>
    </section>


</li>
